.ftco-about {
    text-align: center;
    margin-top: 30px;
    
  }
  
  .ftco-about h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: 20px;
   
  }
  
  .ftco-about p {
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
    text-align: justify;
    margin: 30px 0; /* Adjust margin values as needed */
    margin-bottom: 30px;
   
  }
  
  .ftco-about ul {
    margin-top: 20px;
    list-style: none;
    padding: 20px 30px 10px 40px;
  }
  
  .ftco-about li {
    margin-top: 20%;
    margin-bottom: 50%;
   
  }
  
  .image_css {
    margin-top: 60%;
    max-width: 60%;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 60px;
  }
  
  .mb-4{
    margin-top: 3.5rem;
  }