.blog-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 88px auto; /* Center the section horizontally */
    padding: 40px;
    background-color: #fff; /* White background for the blog post */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2); /* Shadow with some opacity */
    width: calc(100% - 40px); /* Ensure it takes full width with a 20px margin on each side */
    max-width: 1200px; /* Limit the maximum width */
  }
  
  
  .blog-image {
    max-width: 200px; /* Set a maximum width for the image */
    height: auto; /* Maintain aspect ratio of the image */
    border-radius: 8px; /* Rounded corners for the image */
    margin-bottom: 20px; /* Space below the image */
    display: block; /* Ensure the image is a block-level element */
    margin-left: auto; /* Center image horizontally */
    margin-right: auto; /* Center image horizontally */
  }
  
  .blog-title {
    font-size: 2.5rem; /* Large font size for the title */
    margin-bottom: 10px;
    color: #333; /* Dark color for better readability */
  }
  
  .blog-meta {
    font-size: 1rem;
    color: #999; /* Lighter color for metadata */
    margin-bottom: 20px;
  }
  
  .blog-content {
    text-align: center; /* Centered overall but left-align content for better readability */
    max-width: 800px;
    font-size: 1rem;
    line-height: 1.6; /* Increase line height for better readability */
    color: #666; /* Slightly lighter color for text */
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;
  }
  
  ul li:before {
    content: "•";
    color: #333;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  